body {
  margin: 0;
  font-family: 'Palanquin Dark', sans-serif;
}

header {
  background-color: #FFC91E;
  padding: 12px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: bold;
  color: #0F2828;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #0F2828;
  font-size: 20px;
  font-weight: medium;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #FDFFFF;
  text-decoration: underline;
}

.hero {
  position: relative;
  height: 576px;
  background-image: url("https://assets.codepen.io/7596121/hero-image+%281%29.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #FDFFFF;
}

.hero-title {
  font-size: 54px;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 24px;
}

.site-button {
  background-color: #FF4545;
  color: #FDFFFF;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.site-button:hover {
  background-color: #BE3737;
}

h2 {
  margin: 0;
  font-family: 'Palanquin Dark';
}

body {
  margin: 0;
  font-family:'Montserrat', sans-serif;
}

.split-section {
  display: flex;
}

.text-half {
  width: 720px;
  background-color: #FFEBAD;
  padding: 40px;
}

.image-half {
  width: 690px;
  height: 100%;
  background-image: url(https://assets.codepen.io/7596121/our-story-image+%283%29.jpg);
  background-size: cover;
  background-position: center;
}

.text-content {
  max-width: 600px;
}

.section-heading {
  font-size: 48px;
  font-weight: bold;
}

.body-copy {
  font-size: 16px;
  line-height: 1.8;
}

.event-section {
  display: flex;
  position: relative;
  width: 1440px;
  height: 100vh;
  margin: 24px;
}

.event-background-image {
  background-image: url(https://assets.codepen.io/7596121/event-dates-image+%281%29.jpg);
  background-size: cover;
  background-position: center;
  width: 66.66%;
  height: 100%;
}

.event-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.event-day {
  padding: 40px;
  background-color: #FFF;
}

.event-heading {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Palanquin Dark';

}

.trivia-section {
  position: relative;
  width: 1440px;
  height: 724px;
  margin: 24px;
}

.trivia-background-image {
  background-image: url("https://assets.codepen.io/7596121/science-trivia-image+%281%29.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.trivia-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3C7392 0%, rgba(60, 115, 146, 0) 100%);
  display: flex;
  align-items: center;
}

.trivia-text-content {
  width: 33.33%;
  padding: 40px;
  color: #FDFFFF;
}

.trivia-section-heading {
  font-size: 48px;
  font-weight: bold;
}

.map-section {
  display: flex;
  width: 100%;
}

.yellow-box {
  background-color: #FFC91E;
  width: 534px;
  height: 704px;
}

.map-content {
  padding: 40px;
}

.section-heading {
  font-size: 48px;
  font-weight: bold;
  color: #0F2828;
}

.map-image {
  flex: 2;
  height: 704px;
  background-image: url(https://assets.codepen.io/7596121/Map.jpg);
  background-size: cover;
  background-position: center;
}

.registration {
  color: #0F2828;
  margin-top: 80px;
}

.contact-title h1 {
  font-size: 32px;
  line-height: 10px;
}

.registration h1 {
  font-size: 32px;
  line-height: 10px;
}

form input {
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #999;
  border-left: 4px solid red;
}

.site-footer {
  background-color: #3C7392;
  color: #FDFFFF;
  height: 446px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-column {
  text-align: center;
}

.footer-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  font-size: 16px;
  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-logo {
  width: 48px;
  height: 48px;
  margin: 0 15px;
}

/* Style all font awesome icons */
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
}

.fa:hover {
opacity: 0.7;
}

/* Instagram */
.fa-instagram {
background: #3C7392;
color: #FDFFFF;
}

/* Twitter */
.fa-twitter {
background: #3C7392;
color: #FDFFFF;
}

/* Facebook */
.fa-facebook {
background: #3C7392;
color: #FDFFFF;
}

/* Flickr */
.fa-flickr {
background: #3C7392;
color: #FDFFFF;
}