:root {
  --background: rgba(255, 201, 30, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Palanquin Dark', sans-serif;
}

.content {
  height: 200vh;
  background-image: url("https://assets.codepen.io/7596121/big+pool.jpeg");;
  background-blend-mode: multiply;
  background-size: cover;

}

.navigation {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  color: black;
  font-size: 1.5em;
}

/* Hamburger Menu Styles */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 9px;
}

.nav-toggle-label span::after {
  top: 9px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


/* media query for desktop*/


@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }
  
  .navigation {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2/3;
  }
  
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("https://assets.codepen.io/7596121/hero-image+%281%29.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
}

.hero h1 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.hero p {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.content-section {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.left-half {
  width: 720px;
  background-color: #FFEBAD;
  padding: 20px;
}

.right-half {
  width: 690px;
}

.text-section {
  font-family: 'Palanquin Dark', sans-serif;
}

.text-section h2 {
  font-size: 48px;
  font-weight: bold;
}

.text-section p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .content-section {
    flex-direction: column-reverse;
  }

  .left-half,
  .right-half {
    width: 100%;
  }

  .text-section {
    padding: 20px;
  }

  .text-section h2 {
    font-size: 36px;
  }

  .text-section p {
    font-size: 12px;
  }

  .right-half img {
    width: 675px;
    height: 322px;
    object-fit: cover;
  }
}

.event-section {
  background-color: #FFFFFF;
  padding: 50px 0;
  margin-top: 34px; 
}

.event-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.event-subsection {
  width: 48%;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 20px;
  border: 5px solid #FFEBAD;
}

.event-subsection h2 {
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-subsection p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: medium;
  margin-bottom: 20px;
}

.get-tickets-button {
  background-color: #FF0000;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.image-section {
  background-image: var(--event-image);
  background-size: cover;
  background-position: center;
  height: 100%; /* I can adjust this value based on my design */
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .event-content {
    flex-direction: column;
  }

  .event-subsection {
    width: 100%;
  }
}

.body-copy {
    font-size: 16px;
    line-height: 1.6;
}

.map-section {
    display: flex;
    width: 100%;
}

.yellow-box {
    background-color: #FFC91E;
    width: 534px;
    height: 704px;
}

.map-content {
    padding: 40px;
}

.section-heading {
    font-size: 48px;
    font-weight: bold;
    color: #0F2828;
}

.map-image {
    flex: 2;
    height: 704px;
    background-image: url(https://assets.codepen.io/7596121/Map.jpg);
    background-size: cover;
    background-position: center;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .map-section {
    flex-direction: column; 
  }

  .yellow-box {
    width: 100%; 
    height: auto;
  }

  .map-content {
    padding: 20px;
  }

  .section-heading {
    font-size: 36px; 
  }

  .body-copy {
    font-size: 14px; 
  }

  .map-image {
    flex: 1;
    width: 100%;
    height: 200px; 
  }
}

.site-footer {
    background-color: #3C7392;
    color: #FDFFFF;
    height: 446px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-column {
    text-align: center;
}

.footer-heading {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list li {
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-logo {
    width: 48px;
    height: 48px;
    margin: 0 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Instagram */
.fa-instagram {
  background: #3C7392;
  color: #FDFFFF;
}

/* Twitter */
.fa-twitter {
  background: #3C7392;
  color: #FDFFFF;
}

/* Facebook */
.fa-facebook {
  background: #3C7392;
  color: #FDFFFF;
}

/* Flickr */
.fa-flickr {
  background: #3C7392;
  color: #FDFFFF;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
  .site-footer {
    height: auto; 
    padding: 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-heading {
    margin-bottom: 10px;
  }

  .footer-list li {
    margin-bottom: 10px;
  }

  .footer-social {
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.registration-heading {
  font-size: 64px;
  font-weight: bold;
  margin-top: 70px;
  font-family: 'Palanquin Dark', sans-serif;
  align-items: center;
  justify-content: center;
}

.registration-body-copy {
  font-size: 16px;
  margin: 0 auto;
  max-width: 918px;
  margin-top: 70px;
  margin-bottom: 109px;
 font-family: 'Montserrat', sans-serif;
}

.input-container {
  margin: 0 auto;
  max-width: 918px;
  margin-bottom: 35px;
  text-align: left;
}

.input-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
}

.input-box {
  width: 918px;
  height: 39px;
  margin-top: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
.registration-heading {
  font-size: 36px;
  margin-top: 30px;
}

.registration-body-copy {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.input-box {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}

.get-tickets-button {
  font-size: 12px;
}
}

.speakers-heading {
  font-size: 64px;
  font-weight: bold;
  margin-top: 56px;
}

.speaker-box {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.speaker-image {
  width: 373px;
  height: 278px;
  background-image: url("https://assets.codepen.io/7596121/sly-lee-image.jpg");
  background-color: #DDD;
}

.speaker-image2 {
  width: 373px;
  height: 278px;
 background-image: url("https://assets.codepen.io/7596121/michael-lombardi-image.jpg");
  background-color: #DDD; 
}

.speaker-image3 {
  width: 373px;
  height: 278px;
 background-image: url("https://assets.codepen.io/7596121/janis-jones-image.jpg");
  background-color: #DDD;
}

.speaker-image4 {
  width: 373px;
  height: 278px;
 background-image: url("https://assets.codepen.io/7596121/danni-washington-image.jpg");
  background-color: #DDD; 
}

.speaker-image5 {
  width: 373px;
  height: 278px;
background-image: url("https://assets.codepen.io/7596121/tundi-agardy-image+%281%29.jpg");
  background-color: #DDD;
}

.speaker-image6 {
  width: 373px;
  height: 278px;
background-image: url("https://assets.codepen.io/7596121/douglas-mccauley-image+%281%29.jpg");
  background-color: #DDD; 
}

.speaker-details {
  background-color: #FFC91E;
  width: 373px;
  height: 206px;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.speaker-name {
  font-size: 32px;
  font-weight: bolder;
  color: #0F2828;
  margin: 0;
}

.speaker-title {
  font-size: 20px;
  font-weight: bold;
  color: #0F2828;
  margin: 10px 0;
}

.speaker-description {
  font-size: 16px;
  color: #0F2828;
  margin: 0;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) 
  .speaker-box {
      margin: 0 10px;
  }